* {
  margin: 0px;
  padding: 0px;
}

.Registration {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.rightContainer {
  display: flex;
  text-align: center;
}

.upperContainer {
  position: absolute;
  width: 28vw;
  height: 5vh;
  left: 60vw;
  top: 8vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 30px;
  font-size: 5vh;
  color: #72db73;
}

.createAccount {
  position: absolute;
  width: 28vw;
  height: 5vh;
  left: 60vw;
  top: 18vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 2px;
  font-size: 2vh;
  color: white;
}

.EmailAccount {
  position: absolute;
  width: 28vw;
  height: 5vh;
  left: 60vw;
  top: 22vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 2px;
  font-size: 2vh;
  color: white;
}

.termcondition {
  position: absolute;
  text-align: left;
  color: #7C7C7C;
  width: 28vw;
  height: 5vh;
  left: 60vw;
  bottom: 14vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 2px;
  font-size: 2vh;
}

.PrivacyPolicy {
  position: absolute;
  text-align: left;
  color: #7C7C7C;
  width: 28vw;
  height: 5vh;
  left: 60vw;
  bottom: 8vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 2px;
  font-size: 2vh;

}

.highlight {
  background-color: black;
  color: green;
}

.input {
  outline: none;
  border: 0px solid black;
  background: #292929;
  border-radius: 3.81584px;
  position: absolute;
  padding: 15px 20px;
  width: 400px;
  left: 60vw;
}

#name {
  top: 30vh;
}

#UserName {
  top: 40vh;
}

#Email {
  top: 50vh;
}

#Mobile {
  top: 60vh;
}

#checkbox {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 60vw;
  top: 70vh;

  background: #D9D9D9;
}

label {
  position: absolute;
  width: 433px;
  height: 19px;
  left: 58vw;
  top: 70vh;

  font-style: normal;
  font-weight:2vh;
  font-size: 2vh;
  line-height: 139.69%;
  /* or 28px */

  letter-spacing: 0.02em;

  color: #7C7C7C;
}

.signup{
  position: absolute;
width: 440px;
height: 35px;
left: 60vw;
top: 75vh;
color:#ffffff;
background: #72DB73;
border-radius: 28px;
}